{% load character_sheet_filters %}

<h1>{{ name }}</h1>
<h2>
    <a href="{% url 'races:detail' race.slug %}"
        title="{{ race.name }}"
    >{{ race.name }}</a>
    {% for class_level in classes %}
        <a href="{% url 'classes:detail' class_level.the_class.slug %}"
            title="{{ class_level.the_class.name }}"
        >{{ class_level.the_class.name }}</a>
        {{ class_level.level }}
    {% endfor %}
</h2>

<p>{{ character.hp }} hp</p>

<table class="ability_scores">
    <tr><th>Ability</th><th>Score</th><th>Mod</th></tr>
    <tr>
        <td>STR</td>
        <td>{{ strength.score }}</td>
        <td>{{ strength.mod|modifier }}</td>
    <tr>
    <tr>
        <td>DEX</td>
        <td>{{ dexterity.score }}</td>
        <td>{{ dexterity.mod|modifier }}</td>
    <tr>
    <tr>
        <td>CON</td>
        <td>{{ constitution.score }}</td>
        <td>{{ constitution.mod|modifier }}</td>
    <tr>
    <tr>
        <td>INT</td>
        <td>{{ intelligence.score }}</td>
        <td>{{ intelligence.mod|modifier }}</td>
    <tr>
    <tr>
        <td>WIS</td>
        <td>{{ wisdom.score }}</td>
        <td>{{ wisdom.mod|modifier }}</td>
    <tr>
    <tr>
        <td>CHA</td>
        <td>{{ charisma.score }}</td>
        <td>{{ charisma.mod|modifier }}</td>
    <tr>
</table>

<a href="{% url 'characters:index' %}" title="Character List">Back to List</a>
